@import '../src/extend/Toast.scss';

.x-form-trigger-wrap-default {
    border-radius: 5px !important;
}

.x-form-text-default {
    border-radius: 5px !important;
}

.iconOrange {
    margin: 0 5px;
    color: orange !important;
}

.iconGreen {
    margin: 0 5px;
    color: green !important;
}

.iconRed {
    margin: 0 5px;
    color: red !important;
}